.transparent--button {
  color: #009688 !important;
  background-color: transparent !important;
  border-color: transparent !important;
}
.button:active {
  background-color: rgb(0, 128, 128, 0.5) !important;
}
.page-link {
  background-color: transparent !important;
}
.pagination>li>a {
  border-color: transparent !important;
}

.delete {
  margin-top: 50px;
}