.list {
  width: 400px;
  margin: 0 auto;
}

.background--green {
  width: 80%;
  background-color: #e0f2f1;
  margin: 50px auto;
  min-width: 400px;
}

@media (min-width: 950px) {
  .list {
    width: 600px;
  }
}